#reserve_container
{
  float: left;
  padding-top: 20px;
  border-top: 1px solid #fff;
  -moz-box-shadow:    0 -1px 0 #cbcbcb; /* drop shadow */
  -webkit-box-shadow: 0 -1px 0 #cbcbcb; /* drop shadow */
  box-shadow:         0 -1px 0 #cbcbcb; /* drop shadow */
  margin-top: 30px;
  text-align: center;
  p
  {
    color: #8b8a8a;
    font-size: 18px;
    line-height: 1.4;
  }
  #ship_date
  {
    color: #4c4c4c;
    font-size: 22px;
    font-family: $primary_font, $secondary_font, $tertiary_font;
    line-height: 1.3;
    display: block;
    margin: 0 auto;
    width: 300px;
  }
  #price
  {
    color: #4c4c4c;
    font-size: 22px;
    font-family: $primary_font, $secondary_font, $tertiary_font;
    line-height: 1.3;
    display: block;
    margin: 0 auto 10px auto;
    width: 300px;
  }
}
.reserve
{
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 20px 0px 20px 40px;
  width: 315px;
  font-size: 28px;
}

#middle_reserve {
  padding-top: 80px;
  padding-bottom: 150px;
  background-color: $dark_green;

  .reserve_middle {
    margin-right: 180px;
    //margin-top: 10px;
    padding: 20px 0px 20px 45px;
    width: 305px;
    font-size: 28px;
    float: right;
  }

  .angle_right {
    margin-left: 40px !important;
  }

  h2 {
    margin-top: 10px;
    margin-left: 160px;
    float: left;
    color: white;
  }

  .blue-button {
    text-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;

  }

}

.perks_button {
    margin: 60px auto 20px auto !important;
    padding: 20px 0px 20px 65px;
    width: 285px;
    font-size: 28px;
    clear: both;

    .angle_right {
      margin-left: 60px !important;
    }

}
