#reserve_container
{
  float: left;
  padding-top: 20px;
  border-top: 1px solid #fff;
  -moz-box-shadow:    0 -1px 0 #cbcbcb; /* drop shadow */
  -webkit-box-shadow: 0 -1px 0 #cbcbcb; /* drop shadow */
  box-shadow:         0 -1px 0 #cbcbcb; /* drop shadow */
  margin-top: 30px;
  text-align: center;
  p
  {
    color: #8b8a8a;
    font-size: 18px;
    line-height: 1.4;
  }
  #ship_date
  {
    color: #4c4c4c;
    font-size: 22px;
    font-family: $primary_font, $secondary_font, $tertiary_font;
    line-height: 1.3;
    display: block;
    margin: 0 auto;
    width: 300px;
  }
  #price
  {
    color: #4c4c4c;
    font-size: 22px;
    font-family: $primary_font, $secondary_font, $tertiary_font;
    line-height: 1.3;
    display: block;
    margin: 0 auto 10px auto;
    width: 300px;
  }
}

#middle_reserve {
  padding-top: 25px;
  border-bottom: none !important;

  #contact {
    text-align: center;

    #contact_email
    {
      padding: 15px;
      border-radius: 10px;
      border: 1px solid #CCC;
      width: 350px;
      outline: none;
      margin-bottom: 20px;
      text-align: center;
    }

    #contact_button {
      display: block;
      margin: 0 auto;
      padding: 10px;
      width: 150px;
      font-size: 28px;
      border: none;
    }

  }

  .angle_right {
    margin-left: 5px !important;
  }

  h2 {
    margin-top: 10px;
    margin-left: 160px;
    float: left;
    color: white;
  }

  .blue-button {
    text-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;

  }

  .contact_msg {
    color: #FFF;
    display: none;
    font-size: 32px;
    margin-top: 30px !important;
    padding: 0 !important;
  }

}

.perks_button {
    margin: 60px auto 20px auto !important;
    padding: 20px 0px 20px 65px;
    width: 285px;
    font-size: 28px;
    clear: both;

    .angle_right {
      margin-left: 60px !important;
    }

}
