.big_wrapper {
  border-bottom: 1px solid #d2d2d2;
  background: #fff;
}

.texture_background {
  background: asset-url('background_texture.png') repeat;
}

.big_wrapper .wrapper {
  padding: 35px 0;
}

.point_copy {
  //width: 440px;
  width: 100%;
  h3 {
    font-family: cabin_bold;
    margin: 20px 0 30px 0;
    font-size: 60px;
    background-color: $off_white;
  }
}

h3 {
  font-size: 42px;
  font-family: $primary_font, $secondary_font, $tertiary_font;
  color: #292929;
  line-height: 1.3;
}

.point_copy p, #other_points li p {
    line-height: 1.5;
}

#one {
  //background: url(image_path("1-background.png")) no-repeat bottom left;
  min-height: 650px !important;
  width: 936px;
}

#two {
  background: url(image_path("2-background.png")) no-repeat bottom left;
  min-height: 320px;
}

#three {
  background: url(image_path("3-background.png")) no-repeat bottom left;
  min-height: 320px;
}

#four {
  background: url(image_path("4-background.png")) no-repeat bottom left;
  height: 320px;
}

.right {
  margin-left: 500px;
}

.advlo_row {
  list-style-type: none;
  text-shadow: none !important;

  li {
    display: inline;
    float: left;

    width: 30%;
    min-height: 400px;
    //border: 3px solid $dark_green;
    //-webkit-border-radius: 10px;
    //-moz-border-radius: 10px;
    //border-radius: 10px;
    margin: 5px 1%;

  }

  .header {
    font-family: cabin_medium;
    margin: 30px 0;
  }

  .icon {
    img {
      width: 175px;
    }

    .create_icon {
      width: 190px !important;
    }
  }

  .content {
    margin-top: 20px;
    padding: 0 20px;
    font-size: 20px;
  }
}

//Locals Slider styling
.locals_slider { 
    position: relative; 
    overflow: auto; 
    text-shadow: none !important;
}

.locals_slider li { 
    list-style: none; 
    height: 600px;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -ms-background-size: 100% 100%;

    /*
    h3 {
      color: white;
      text-align: right;
      margin: 40px 50px 10px 0;
    }

    h4 {
      color: white;
      text-align: right;
      margin: 10px 50px 10px 0;
      font-size: 26px;
      font-style: italic;
    }

    p { 
      color: white;
      margin: 30px 35px 0 650px;
      line-height: 27px;
    }
    */

    .local_quote_left {
      float: left;
      font-size: 34px;
      margin-left: 40px;
      margin-top: 40px;
      margin-bottom: 100px;
      width: 650px;
    }

    .local_title_left {
      font-family: cabin_medium;
      clear: left;
      float: left;
      margin-left: 300px;
      font-size: 38px;
      color: $orange;
      line-height: 1;
      text-align: right;
    }

    .local_caption_left {
      clear: left;
      float: left;
      margin-left: 300px;
      margin-top: 10px;
      font-size: 28px;
      color: $gray;
      text-align: right;
    }


}

.locals_slider ul li { float: left; }

.dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;

  li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    text-indent: -999em;
    border: 2px solid #fff;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    cursor: pointer;
    opacity: .4;
    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;

    &.active{
      background: #fff;
      opacity: 1;
    }

  }
}