#perks {
  min-height: 600px;
  padding: 75px 0 0px 0;
  background-color: $off_white;

  .perks_text {

    float: left;
    margin-left: 40px;
    margin-top: 325px;
    width: 400px;

    .perks_header {
      font-family: cabin_bold;

    }

    .perks_content {
      font-family: cabin_regular;
    }

    .perks_btn {
      padding: 20px 0px 20px 40px;
      width: 300px;
      font-size: 26px;
      margin-top: 40px;

      .angle_right {
        margin-left: 30px;

      }
    }

  }

  img {
    float: right;
    width: 750px;
    margin-right: 50px;

  }
}