#perks {
  min-height: 600px;
  padding: 35px 0px 0px 0px;
  background-color: white;

  .perks_text {

    float: left;
    margin-left: 60px;
    margin-top: 15px;
    width: 400px;

    .perks_header {
      font-family: cabin_bold;
    }

    .perks_content {
      font-family: cabin_regular;
      line-height: 30px;

      b {
        font-weight: bold;
      }
    }

    .perks_btn {
      padding: 20px 0px 20px 40px;
      width: 300px;
      font-size: 26px;
      margin-top: 40px;

      .angle_right {
        margin-left: 30px;

      }
    }

  }

  .mountain_20_link {
      background-image: url(image_path("mountain_20_green.png"));
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      right: 695px;
      width: 260px;
      height: 238px;
      z-index: 10;
      margin-top: 351px;

      &:hover {
        background-image: url(image_path("mountain_20.png")); 

        -webkit-transition: background-image 0.2s linear 0.1s; /* For Safari 3.1 to 6.0 */
        transition: background-image 0.2s linear 0.1s;
      }

      -webkit-transition: background-image 0.2s linear 0.1s; /* For Safari 3.1 to 6.0 */
      transition: background-image 0.2s linear 0.1s;
  }

  .mountain_50_link {
    background-image: url(image_path("mountain_50_green.png"));
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 405px;
    width: 375px;
    height: 389px;
    z-index: 9;
    margin-top: 200px;

      &:hover {
         background-image: url(image_path("mountain_50.png"));

         -webkit-transition: background-image 0.2s linear 0.1s; /* For Safari 3.1 to 6.0 */
        transition: background-image 0.2s linear 0.1s; 
      }

      -webkit-transition: background-image 0.2s linear 0.1s; /* For Safari 3.1 to 6.0 */
      transition: background-image 0.2s linear 0.1s;
  }

  .mountain_100_link {
    background-image: url(image_path("mountain_100_green.png"));
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    position: absolute;
    width: 465px;
    height: 519px;
    right: 30px;
    margin-top: 70px;
    z-index: 8;

      &:hover {
         background-image: url(image_path("mountain_100.png")); 

         -webkit-transition: background-image 0.2s linear 0.1s; /* For Safari 3.1 to 6.0 */
        transition: background-image 0.2s linear 0.1s;
      }

      -webkit-transition: background-image 0.2s linear 0.1s; /* For Safari 3.1 to 6.0 */
      transition: background-image 0.2s linear 0.1s;
  }

}

#perks_preload {
  width: 0px;
  height: 0px;
  display: inline;
  background-image: url(image_path("mountain_100.png"));
  background-image: url(image_path("mountain_50.png"));
  background-image: url(image_path("mountain_20.png"));
}

@media only screen and (max-device-width: 720px) {
/* define mobile specific styles come here */

  #perks {
    min-height: 780px;

    .mountain_20_link {
      margin-top: 531px !important;
      width: 290px !important;
      right: 635px;
    }
    
    .mountain_50_link {
      margin-top: 380px !important;
      width: 405px !important;
      right: 335px;
    }

    .mountain_100_link {
      margin-top: 250px !important;
      width: 495px !important;
      right: -40px !important;
    }
  } 

}

@media only screen and (min-device-width: 1441px) {
/* define mobile specific styles come here */

  #perks {
    min-height: 700px;

    .mountain_20_link {
      margin-top: 431px !important;
      width: 290px !important;
      //right: 635px;
    }
    
    .mountain_50_link {
      margin-top: 280px !important;
      width: 405px !important;
      //right: 335px;
    }

    .mountain_100_link {
      margin-top: 150px !important;
      width: 495px !important;
      //right: -40px !important;
    }
  } 

  .perks_text {
    margin-left: 130px !important;
  }

}
