#perks {
  min-height: 600px;
  padding: 35px 0 0px 0;
  background-color: white;

  .perks_text {

    float: left;
    margin-left: 60px;
    margin-top: 15px;
    width: 400px;

    .perks_header {
      font-family: cabin_bold;

    }

    .perks_content {
      font-family: cabin_regular;
    }

    .perks_btn {
      padding: 20px 0px 20px 40px;
      width: 300px;
      font-size: 26px;
      margin-top: 40px;

      .angle_right {
        margin-left: 30px;

      }
    }

  }

  .r_mountain {
    float: right;
    width: 465px;
    margin-right: 30px;
    margin-top: 50px;
    z-index: 10;

    /*
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
    */

  }

  .m_mountain {
    position: absolute;
    right: 405px;
    width: 355px;
    z-index: 9;
    margin-top: 206px;

        /*
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
    */
  }

  .l_mountain {
    position: absolute;
    right: 685px;
    width: 255px;
    z-index: 10;
    margin-top: 335px;
    
        /*
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
    */

  }
}