#perk_imgs {
  background: $body_background !important;
  padding-bottom: 30px;
  border-bottom: 1px solid #dfdfdf;
  padding-top: 20px !important;

  h3 {
    font-family: cabin_bold;
  }

  .perks_checkout {
    width: 90%;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .merchery_title {
    font-family: cabin_bold;
    font-size: 20px;
    float: right;
    margin-right: 27px;
  }

  .merchery_logo {
    float: right;
    clear: right;
    margin-top: 5px;
    width: 150px;
  }

}