#why_support_reminder {
	padding-bottom: 0px !important;
	background: $orange;

	p {
		margin: 15px auto 20px auto;
		vertical-align: middle;
		text-align: justify;
		width: 90%;
		line-height: 27px;
		color: white;
	}
}