<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3 class="center">
        What is Advlo?
      </h3>
      <p>
        Advlo is a global network that empowers locals and travelers to connect through adventures. With this platform, people from around the world will be able to easily share, market and sell their expertise for the adventures they love directly to travelers. Advlo travelers will enjoy access to far more personal, engaging and culturally authentic adventures than what is currently being offered by tour operators.
      </p>
    </div>
    <div class="point_copy">
      <h3 class="center">
        Lets Break It Down...
      </h3>

      <!-- Three panels Find, Create, Share -->

      <ul class="advlo_row">
        <li>
          <h4 class="header center"> Find </h4>
          <div class="center icon"><i class="fa fa-search"> </i></div>
          <p class="center content"> Connect with locals and hostels directly to set up unique, customizable adventures. </p>
        </li>


        <li>
          <h4 class="header center"> Create </h4>
          <div class="center icon"><i class="fa fa-user"> </i></div>
          <p class="center content"> Guide like-minded travelers on the adventures you love and sell your expertise. </p>

        </li>
        <li>
          <h4 class="header center"> Share </h4>
          <div class="center icon"><i class="fa fa-users"> </i></div>
          <p class="center content"> Share your past adventures and follow your friends with interactive maps and itineraries. </p>

        </li>
      </ul>

    </div>
    
  </div>
</div>


<div class="locals_slider" id="locals_slider">
    <ul>
        <li style="background-image: url(<%= asset_path 'local_imgs/Fabian6.png' %>); background-size: cover;">
          <h3 class="local_title"> Wiston Churchill </h3>
          <h4 class="local_location"> Quito, Ecuador</h4>
          <p> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </p>
        </li>
        <li style="background-image: url(<%= asset_path 'local_imgs/Gustavo.png' %>); background-size: cover;">
          <h3 class="local_title"> Wiston Churchill </h3>
          <h4 class="local_location"> Quito, Ecuador</h4>
          <p> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </p>
        </li>
        <li style="background-image: url(<%= asset_path 'local_imgs/Wiston1.png' %>); background-size: cover;">
          <h3 class="local_title"> Wiston Churchill </h3>
          <h4 class="local_location"> Quito, Ecuador</h4>
          <p> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </p>
        </li>
    </ul>
</div>


<script type="text/javascript">
  
  $('.locals_slider').unslider({
    fluid: true,
    dots: true,
    speed: 1000,
    delay: 7000
  });

</script>

<!--

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        It's just a skeleton
      </h3>
      <p>
        We've kept Selfstarter really simple, but that also means that you should beef it up with your own authentication, administration and product management code.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        Let's get started
      </h3>
      <p>
        Most of what you need to get started is in the Readme. Selfstarter is based on Ruby on Rails, and we've tried to break up all of the different parts in a sensible fashion.
      <p>
    </div>
  </div>
</div>

-->
