<div class="big_wrapper">
  <div id="middle_reserve">
    <h2><%= Settings.ships %></h2>
    
    <a href="/preorder/checkout" class="blue_button reserve_middle"><%= Settings.middle_reserve_text %><i class="fa fa-angle-right angle_right"></i></a>

  </div>
</div>
