<div class="big_wrapper" id="perks">
  <div class="perks_text">
    <h2 class="perks_header"> THE PERKS </h2>

    <p class="perks_content">
      You'd look awesome in one of our limited shirts on your next adventure. Check out our full list of goodies you can earn by supporting Advlo!
    </p>

    <a href="/preorder/checkout" class="blue_button perks_btn">See rest of the perks<i class="fa fa-angle-right angle_right"></i></a>

  </div>

  <%= image_tag "mountain_100.png", :class => "r_mountain" %>
  <%= image_tag "mountain_50.png", :class => "m_mountain" %>
  <%= image_tag "mountain_20.png", :class => "l_mountain" %>

</div>


<!--
<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy center">
      <h3>
        Just so you remember us ...
      </h3>
    </div>

    <div class="perks_icon_left center">
      <i class="fa fa-umbrella"></i>

      <h4 class="perks_icon_title">
        Item 1 Title
      </h4>
    </div>

    <p class="perk_info_right">
      Item 1 description: What an awesome umbrella with Advlo logo perhaps?
    </p>

    <div class="perks_icon_right center">
      <i class="fa fa-umbrella"></i>

      <h4 class="perks_icon_title">
        Item 2 Title
      </h4>
    </div>

    <p class="perk_info_left">
      Item 2 description: What an awesome umbrella with Advlo logo perhaps?
    </p>


    <a href="/preorder/checkout" class="blue_button perks_button">There's More<i class="fa fa-angle-right angle_right"></i></a>

  </div>
</div>
-->