<div class="wrapper clearfix">
  <div id="backing">
    <div class="backing_header">ADVENTURE WITH <span class="local_word"> LOCALS </span> NOT TOUR GUIDES</div>

    <div class="backing_subtitle">
      LAUNCHING SOON
    </div>

    <div id="middle_reserve" class="contact_form">
      <%= form_tag "/preorder/contact", :remote => true, :id=> "contact" do %> 
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
        <%= email_field_tag "contact_email", nil, :placeholder => "Enter email for early access", :required => "required", :id => "contact_email" %>
        <%= submit_tag "Request Invite", :class => "blue_button", :id => "contact_button" %>
      <% end %>

      <p class="contact_msg center">
        Thank you, we will keep you updated!
      </p>

      <script> 
        $('#contact').on('ajax:send', function(event, data, status, xhr) {
          // Do your thing, data will be the response
          $(this).hide();

          $(".contact_msg").show();
          //alert("You're in! We'll notify you as soon as Advlo launches");
        });
      </script>

    </div>

    <div class="social_icons">
      <div class="fb-like" data-href="http://www.facebook.com/advlo" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
      
      <a href="https://twitter.com/advlo_" class="twitter-follow-button" data-show-count="false">Follow @advlo_</a>
    </div>

  </div>
  
</div>
