<div class="gray_background" id="perk_imgs">
  <div class="wrapper clearfix">
    <h3 class="center">Advlo Gear</h3> 
    <div class="center">
      <%= image_tag "checkout_icons/perks_checkout.png", :class => "perks_checkout" %>
    </div>
    <div class="merchery_title">
      Printed by:
    </div>
    <%= image_tag "checkout_icons/merchery_logo2.gif", :class => "merchery_logo" %>
  </div>
</div>
