<div class="sidebar">
  <h5>When will I be charged?</h5>
  <p>
    You will be only charged when your Advlo thank you gift has been shipped.
  </p>

	<%= email_field_tag "email", nil, :placeholder => "Email address", :required => "required", :id => "email" %>
	<%= hidden_field_tag "preorder", true %>
	<%= hidden_field_tag "quantity", params[:quantity] %>
	<%= submit_tag "Checkout", :class => "blue_button disabled", :id => "amazon_button" %>
</div>