<div class="gray_background" id="why_support_reminder">
  <div class="wrapper clearfix">
    <p>
    In order to make Advlo a reality by the end of the summer, we need your support. Your contributions will go directly toward on-boarding hosts as well as finalizing the platform for launch. Thank you for your support! 
    </p>
  </div>
</div>
