#share_container
{
  #congrats 
  {
    padding: 70px 0;
    h2 
    {
      margin-bottom: 24px;
    }
    p 
    {
      margin-bottom: 30px;
      font-size: 24px;
    }
  }
  /*
  #share 
  {
    margin: 0 auto;
    text-align: center;
    margin: 0 auto;
    #facebook_button_container
    {
      margin: 0 auto;
      display: inline-block;
    }
    #pin_button_container
    {
      margin: 0 auto;
      display: inline-block;
      position: relative;
      top: 1px;
      .pin-it-button
      {
      }
    }
    #tweet_button_container
    {
      margin: 0 auto;
      display: inline-block;
    }
  }
  */
  #order_id
  {
    margin: 0 auto;
    margin-top: 15px;
    padding: 0px;
    opacity: 0.3;
    z-index: 9999;
  }
}

#social_buttons {
  clear: both;
  padding-top: 30px !important;
  padding-bottom: 50px !important;
  text-shadow: none !important;

  .social_button_fb {
    border: 1px #3B5998 solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 30px;
    padding: 12px 15px;
    color: white !important;

    background-image: -moz-linear-gradient(90deg, #3B5998 0%, #3B5998 100%); /* gradient fill */
    background-image: -o-linear-gradient(90deg, #3B5998 0%, #3B5998 100%); /* gradient fill */
    background-image: -webkit-linear-gradient(90deg, #3B5998 0%, #3B5998 100%); /* gradient fill */
    background-image: linear-gradient(90deg, #3B5998 0%, #3B5998 100%); /* gradient fill */

    background-color: #3B5998;
    filter: none !important;

    text-decoration: none;

    &:hover {
      opacity: 0.9;
    }
  }

  .social_button_tw {
    border: 1px #4099FF solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 12px 15px;
    color: white !important;

    background-image: -moz-linear-gradient(90deg, #4099FF 0%, #4099FF 100%); /* gradient fill */
    background-image: -o-linear-gradient(90deg, #4099FF 0%, #4099FF 100%); /* gradient fill */
    background-image: -webkit-linear-gradient(90deg, #4099FF 0%, #4099FF 100%); /* gradient fill */
    background-image: linear-gradient(90deg, #4099FF 0%, #4099FF 100%); /* gradient fill */

    text-decoration: none;

    background-color: #4099FF;
    filter: none !important;

    &:hover {
      opacity: 0.9;
    }
  }

  .icon_font_size {
    font-size: 26px;
    margin-right: 15px;
  }

}
