<div id="header">
  <div class="wrapper clearfix">
  	<div class="logo pull-left">
  		<a href="/"><%= image_tag "advlo_header_logo.png", alt: "Advlo" %></a>
	</div>
	<div class="menu_items pull-right">
		<a href=""> HOW IT WORKS </a>
		<a href=""> PERKS </a>
		<a href=""> LOCALS </a>
		<a href=""> FAQs </a>
	</div>	

  </div>
</div>