<div class="gray_background" id='share_container'>
  <div class="wrapper center" id="congrats">
    <h2>
      Thanks for joining the movement!
    </h2>
    <p>
    Your perks will be shipped within 2 weeks of the campaign's completion <br>(we’ll shoot you an email before then).
    <br><br>
    You’ll also be the first to know and use the platform once we launch.
    </p>
    <br />
    <br />

      <!--
      <div id='pin_button_container'>
        <%= pin_it_button %>
      </div>
      

      <div id='tweet_button_container'>
        
      </div>
      <div id='facebook_button_container'>
        
      </div>
      -->

    <p>
  		Help us make this a reality by sharing Advlo with the world!
	</p>
	  <div id="social_buttons" class="center">
	      <a href="https://www.facebook.com/dialog/share?app_id=210802829129036&display=popup&href=http%3A%2F%2Fadvlo.com&redirect_uri=http://www.advlo.com" target="_black" class="social_button_fb"><i class="fa fa-facebook icon_font_size"></i>Share on Facebook</a>
	      <a href="https://twitter.com/intent/tweet?hashtags=AdventureLocal&original_referer=http%3A%2F%2Fadvlo.com&text=I%20just%20supported%20%40Advlo_%20so%20I%20can%20%23AdventureLocal.%20Join%20me%20to%20travel%20with%20LOCALS%2C%20not%20tour%20guides.%20www.advlo.com&tw_p=tweetbutton&via=advlo_" class="social_button_tw"><i class="fa fa-twitter icon_font_size"></i>Tweet on Twitter</a>
	  </div>

     <div id="order_id">Reservation ID: <%= @order.uuid %>. You can bookmark or print this page for your records.</div>
  </div>
</div>
