<div class="gray_background" id='share_container'>
  <div class="wrapper center" id="congrats">
    <h2>
      Thanks for joining the movement!
    </h2>
    <p>
    Your perks will be shipped within 1 week of the campaign's completion <br>(we’ll shoot you an email before then).
    <br><br>
    You’ll also be the first to know and use the platform once we launch.
    </p>
    <br />
    <br />

      <!--
      <div id='pin_button_container'>
        <%= pin_it_button %>
      </div>
      

      <div id='tweet_button_container'>
        
      </div>
      <div id='facebook_button_container'>
        
      </div>
      -->

    <p>
  		Help us make this a reality by sharing Advlo with the world!
	</p>
	  <div id="social_buttons" class="center">
	      <a href="" class="social_button_fb"><i class="fa fa-facebook icon_font_size"></i>Share on facebook</a>
	      <a href="" class="social_button_tw"><i class="fa fa-twitter icon_font_size"></i>Tweet on twitter</a>
	  </div>

     <div id="order_id">Reservation ID: <%= @order.uuid %>. You can bookmark or print this page for your records.</div>
  </div>
</div>
